@using Zero
@using Zero.Web.Areas.App.Models.Common.Modals
@using DPS.Park.Core.Shared
@model Zero.Web.Areas.Park.Models.History.CreateOrEditHistoryViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("Create")))

<div class="modal-body">
    <div id="HistoryInformationsTab">
        <form name="HistoryInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.History.Id"/>
            }
            <input type="hidden" name="language" id="Entity_Language" value=""/>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>@L("Card")</label>
                        <select id="CardId" style="width:100%;" name="cardId" class="form-control">
                            @if (!string.IsNullOrEmpty(Model.History.CardNumber) && Model.History.CardId > 0)
                            {
                                <option value="@Model.History.CardId" selected="selected">@Model.History.CardCode - @Model.History.CardNumber</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="History_LicensePlate">
                            @L("LicensePlate")
                        </label>
                        <input class="form-control" id="History_LicensePlate" value="@Model.History.LicensePlate" type="text" name="licensePlate"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="History_Price">
                            @L("Price")
                        </label>
                        <input class="form-control number" id="History_Price" value="@Model.History.Price" type="text" name="price"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>
                            @L("HistoryType")
                        </label>
                        @Html.DropDownList("type", ParkHelper.ListHistoryType(Model.History.Type, LocalizationManager.GetSource(ZeroConst.LocalizationSourceName)), new {@class = "form-control kt-select2-non-search", @id = "HistoryType"})
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>@L("Time")</label>
                        <div class="input-group">
                            <input type="text" class="form-control dateTime date-picker text-center" id="Time" name="time" init-value="@Model.History.Time.ToString("dd/MM/yyyy")">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="History_VehicleTypeName">
                            @L("VehicleType")
                        </label>
                        <input class="form-control" id="History_VehicleTypeName" value="@Model.History.VehicleTypeName" type="text" name="vehicleTypeName" disabled/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="History_CardTypeName">
                            @L("CardType")
                        </label>
                        <input class="form-control" id="History_CardTypeName" value="@Model.History.CardTypeName" type="text" name="cardTypeName" disabled/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")