@model Zero.Web.Areas.Park.Models.History.CreateOrEditHistoryViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel($"{L("ViewHistory")}"))

<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-body view-detail-modal-content">
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">
                    <b>@L("CardNumber"):</b>
                </label>
                <div class="col-lg-2">
                    <label class="col-form-label">@Model.History.CardNumber</label>
                </div>

                <label class="col-lg-2 col-form-label">
                    <b>@L("LicensePlate"):</b>
                </label>
                <div class="col-lg-2">
                    <label class="col-form-label">@Model.History.LicensePlate</label>
                </div>

                <label class="col-lg-2 col-form-label">
                    <b>@L("Price"):</b>
                </label>
                <div class="col-lg-2">
                    <label class="col-form-label">@Model.History.Price</label>
                </div>
                
                <br/><br/><br/>
                <div class="col-12 mb-20 bottom-separate"></div>
                
                <label class="col-lg-2 col-form-label">
                    <b>@L("VehicleTypeName"):</b>
                </label>
                <div class="col-lg-4">
                    <label class="col-form-label">@Model.History.VehicleTypeName</label>
                </div>

                <label class="col-lg-2 col-form-label">
                    <b>@L("CardTypeName"):</b>
                </label>
                <div class="col-lg-4">
                    <label class="col-form-label">@Model.History.CardTypeName</label>
                </div>

                <label class="col-lg-2 col-form-label">
                    <b>@L("Type"):</b>
                </label>
                <div class="col-lg-4">
                    @{
                        if (Model.History.Type == 1)
                        {
                            <label class="col-form-label">@L("HistoryType_In")</label>
                        }
                        else
                        {
                            <label class="col-form-label">@L("HistoryType_Out")</label>
                        }
                    }
                </div>

                <label class="col-lg-2 col-form-label">
                    <b>@L("Time"):</b>
                </label>
                <div class="col-lg-4">
                    <label class="col-form-label">@Model.History.Time</label>
                </div>
            </div>
        </div>
    </form>

</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")