@model Zero.Web.Areas.Park.Models.Resident.CreateOrEditResidentViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("Create")))

<div class="modal-body">
    <div id="ResidentInformationsTab">
        <form name="ResidentInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Resident.Id"/>
            }
            <input type="hidden" name="language" id="Entity_Language" value=""/>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="Resident_ApartmentNumber">
                            @L("ApartmentNumber") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="Resident_ApartmentNumber" value="@Model.Resident.ApartmentNumber" type="text" name="apartmentNumber" required maxlength="@ZeroConst.MaxCodeLength" minlength="@ZeroConst.MinCodeLength"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Resident_OwnerFullName">
                            @L("OwnerFullName") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="Resident_OwnerFullName" value="@Model.Resident.OwnerFullName" type="text" name="ownerFullName" required maxlength="@ZeroConst.MaxNameLength" minlength="@ZeroConst.MinNameLength"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Resident_OwnerPhone">
                            @L("OwnerPhone") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="Resident_OwnerPhone" value="@Model.Resident.OwnerPhone" type="text" name="ownerPhone" required maxlength="@ZeroConst.MaxNameLength" minlength="@ZeroConst.MinNameLength"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Resident_OwnerEmail">
                            @L("OwnerEmail") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="Resident_OwnerEmail" value="@Model.Resident.OwnerEmail" type="text" name="ownerEmail" required maxlength="@ZeroConst.MaxNameLength" minlength="@ZeroConst.MinNameLength"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-0">
                        <label>@L("IsPaid")</label>
                        <div class="form-control no-border">
                            <span class="switch switch-sm switch-icon">
                                <label>
                                    <input type="checkbox" value="true" id="Resident_IsPaid" name="isPaid" @Html.Raw(!Model.Resident.IsPaid ? "" : "checked=\"checked\"")/>
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-0">
                        <label>@L("IsActive")</label>
                        <div class="form-control no-border">
                            <span class="switch switch-sm switch-icon">
                                <label>
                                    <input type="checkbox" value="true" id="Resident_IsActive" name="isActive" @Html.Raw(!Model.Resident.IsActive ? "" : "checked=\"checked\"")/>
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br/>
        
        <div class="row">
            <table class="display table table-bordered table-hover input-table mb-0" id="ResidentDetailTable">
                <thead>
                <tr>
                    <th class="text-center text-middle w-40"></th>
                    <th class="text-center text-middle">@L("Card")</th>
                    <th class="text-center text-middle">@L("Note")</th>
                    <th class="text-center text-middle w-30"></th>
                </tr>
                </thead>
                <tbody>
                @if (Model.Resident.ResidentDetails != null && Model.Resident.ResidentDetails.Any())
                {
                    foreach (var detail in Model.Resident.ResidentDetails)
                    {
                        await Html.RenderPartialAsync("Components/Details/_ResidentDetail", detail);
                    }
                }
                <tr id="LastDetailRowResidentDetail">
                    <td colspan="6" class="text-center">
                        <button class="btn btn-sm btn-outline-primary" id="btnAddDetailResidentDetail">
                            <i class="fa fa-plus"></i> @L("Create")
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")