@using Zero
@using Zero.Web.Areas.App.Models.Common.Modals
@model Zero.Web.Areas.Park.Models.CardType.CreateOrEditCardTypeViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("Create")))

<div class="modal-body">
    <div id="CardTypeInformationsTab">
        <form name="CardTypeInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.CardType.Id"/>
            }
            <input type="hidden" name="language" id="Entity_Language" value=""/>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="CardType_Name">
                            @L("Name") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="CardType_Name" value="@Model.CardType.Name" type="text" name="name" required/>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="CardType_Note">
                            @L("Note")
                        </label>
                        <input class="form-control" id="CardType_Note" value="@Model.CardType.Note" type="text" name="note"/>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")