@using Abp.Runtime.Security
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Zero.Web.Models.FrontPages
@model Zero.Web.Models.FrontPages.PageViewModel
@inject ICompositeViewEngine CompositeViewEngine
@{
    Layout = "_Layout.cshtml";
    if (Model.Page is {PageThemeId: { } } && CompositeViewEngine.GetView("", $"~/Views/Home/_Layout_{Model.Page.PageThemeCode}.cshtml", false).Success)
    {
        Layout = $"_Layout_{Model.Page.PageThemeCode}.cshtml";
    }
}
@section Styles {
    @if (Model is { IsValid: true })
    {
        foreach (var item in Model.Widgets)
        {
            if (!string.IsNullOrEmpty(item.WidgetCssBundleUrl))
            {
                <link rel="stylesheet" href="@item.WidgetCssBundleUrl">
            }
            if (!string.IsNullOrEmpty(item.WidgetCssPlain))
            {
                @Html.Raw(item.WidgetCssPlain)
            }
        }
    }
}

@section Scripts {
    @if (Model is { IsValid: true })
    {
        foreach (var item in Model.Widgets)
        {
            if (!string.IsNullOrEmpty(item.WidgetJsBundleUrl))
            {
                <script src="@item.WidgetJsBundleUrl"></script>
            }
            if (!string.IsNullOrEmpty(item.WidgetJsPlain))
            {
                @Html.Raw(item.WidgetJsPlain)
            }
        }
    }
}

@if (Model is { IsValid: true })
{
    foreach (var bl in Model.Blocks)
    {
        @await Html.PartialAsync("_PageBlock.cshtml", new PageBlockWidgetViewModel(bl, Model.Widgets))
    }
}
else
{
    <p>@L("MissingConfig")</p>
    if (ViewBag.AdminWebSiteRootAddress != null && !string.IsNullOrEmpty(ViewBag.AdminWebSiteRootAddress))
    {
        if (AbpSession.TenantId.HasValue)
        {
            <a href="@($"{ViewBag.AdminWebSiteRootAddress}account/login?ss=true&tenancy={SimpleStringCipher.Instance.Encrypt(AbpSession.TenantId.ToString())}&returnUrl={ViewBag.WebSiteRootAddress + "Account/Login"}")">@L("LogIn")</a>
        }
        else
        {
            <a href="@($"{ViewBag.AdminWebSiteRootAddress}account/login?ss=true&returnUrl={ViewBag.WebSiteRootAddress + "Account/Login"}")">@L("LogIn")</a>
        }
    }
}