
@model Zero.Web.Areas.Cms.Models.MenuGroup.CreateOrEditMenuGroupViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("Create")))

<div class="modal-body">
    <div id="MenuGroupInformationsTab">
        <form name="MenuGroupInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.MenuGroup.Id"/>
            }
            <input type="hidden" name="code" value="@Model.MenuGroup.Code"/>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>
                            @L("Name") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="MenuGroup_Name" value="@Model.MenuGroup.Name" type="text" name="name" required maxlength="@ZeroConst.MaxNameLength" minlength="@ZeroConst.MinNameLength"/>
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <label for="MenuGroup_Note">@L("Note")</label>
                        <input class="form-control" id="MenuGroup_Note" type="text" name="note" value="@Model.MenuGroup.Note"/>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group text-center mb-0">
                        <label>@L("IsActive")</label>
                        <div class="form-control no-border">
                            <label class="checkbox checkbox-outline checkbox-primary inline-block">
                                <input type="checkbox" id="MenuGroup_IsActive" name="isActive" value="true" @Html.Raw(!Model.MenuGroup.IsActive ? "" : "checked=\"checked\"")>
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")