@using Abp.Application.Services.Dto
@using Abp.Extensions
@using Abp.Timing;
@using Zero.Web.Areas.App.Startup
@model Zero.Web.Areas.App.Models.HostSettings.HostSettingsViewModel

<div class="tab-pane" id="OtherSettingsTab">
    <form id="OtherSettingsForm" class="form">
        <div class="checkbox-list">
            <h5>@L("QuickThemeSelection")</h5>
            <label for="Setting_IsQuickThemeSelectEnabled" class="checkbox checkbox-outline">
                <input id="Setting_IsQuickThemeSelectEnabled" type="checkbox" name="IsQuickThemeSelectEnabled" value="true" @(Model.Settings.UserManagement.IsQuickThemeSelectEnabled ? "checked=\"checked\"" : "")>
                <span></span>
                @L("IsQuickThemeSelectEnabled")
            </label>
        </div>

        <div class="row pt-20">
            <div class="col-12">
                <h5>@L("Reporting")</h5>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>@L("ReportLeftHeader")</label>
                    <textarea id="ReportLeftHeaderContent" name="reportLeftHeader" class="form-control">@Html.Raw(Model.Settings.OtherSettings.ReportLeftHeader)</textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>@L("ReportRightHeader")</label>
                    <textarea id="ReportRightHeaderContent" name="reportRightHeader" class="form-control">@Html.Raw(Model.Settings.OtherSettings.ReportRightHeader)</textarea>
                </div>
            </div>
        </div>
    </form>
</div>