@using Zero.Web.Resources
@using Zero.Web.Views.Shared.Components.TenantChange
@model TenantChangeViewModel
@inject IWebResourceManager WebResourceManager
@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Views/Shared/Components/TenantChange/Default.js");
}

<div class="form-group">
    <select id="TenantPicker" class="form-control h-auto p-10 rounded-lg font-size-h6 kt-select2">
        @if (Model.Tenant == null)
        {
            <option value="" selected>@L("System")</option>    
        }
        else
        {
            <option value="">@L("System")</option>
        }
        
        @if (Model.AvailableTenants != null && Model.AvailableTenants.Any())
        {
            foreach (var tenant in Model.AvailableTenants)
            {
                if (Model.Tenant != null && tenant.TenancyName == Model.Tenant.TenancyName)
                {
                    <option value="@tenant.TenancyName" selected>@tenant.Name</option>
                }
                else
                {
                    <option value="@tenant.TenancyName">@tenant.Name</option>
                }
            }
        }
    </select>
</div>