@model Zero.Web.Areas.Cms.Models.Post.CreateOrEditPostViewModel

@{
    ViewBag.CurrentPageName = AppPageNames.Cms.Post;
}

@section Scripts
{
    <script abp-src="@ZeroConst.ScriptPathApp/Views/Common/_CategoriesTree.js" asp-append-version="true"></script>
    <script abp-src="@ZeroConst.ScriptPathCms/Post/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Posts")" description="@(Model.IsEditMode ? L("EditPostHeaderInfo") : L("NewPostsHeaderInfo"))">
        <button id="backToListingPage" class="btn btn-secondary blue">
            <i class="la la-arrow-left"></i> @L("BackToListingPage")
        </button>
        @if (IsGranted(CmsPermissions.Post_Create) || IsGranted(CmsPermissions.Post_Edit))
        {
            <button id="SaveButton" class="btn btn-primary blue">
                <i class="la la-save"></i> @L("Save")
            </button>
        }
    </abp-page-subheader>

    <!--begin::Entry-->
    <div class="@(await GetContainerClass())">
        <!--begin::Container-->
        <form action="" role="form" novalidate class="form-validation-post" name="PostForm" id="PostForm">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Post.Id"/>
            }

            <input type="hidden" name="code" value="@Model.Post.Code"/>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-custom overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <span id="CancelAvatar" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="kt-tooltip" title="@L("CancelAvatar")">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>

                                        <div class="dropzone dropzone-default dz-clickable dropify" id="ChangeAvatar">
                                            <input id="Avatar" name="image" type="hidden" value="@Model.Post.Image">
                                            <img alt="Avatar" id="AvatarHolder" onerror="src='@GlobalConfig.DefaultImageUrl'" default-src="@GlobalConfig.DefaultImageUrl" src="@(!string.IsNullOrEmpty(Model.Post.Image) ? Model.Post.Image : GlobalConfig.DefaultImageUrl)" class="kt-avatar__holder mw-100"/>
                                            <span class="form-text text-muted py-10">@L("AllowedFileTypes"): png, jpg, jpeg.</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>
                                            @L("Name") <span class="text-danger">(*)</span>
                                        </label>
                                        <input class="form-control make-slug" id="Name" value="@Model.Post.Name" type="text" name="name" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            @L("Title") <span class="text-danger">(*)</span>
                                        </label>
                                        <input class="form-control" id="Title" value="@Model.Post.Title" type="text" name="title" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            @L("Slug") <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@FrontPagePrefix.PostDetail</span>
                                            </div>
                                            <input class="form-control slug-input" id="Post_Slug" data-target="Name" value="@Model.Post.Slug" type="text" name="slug" required/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">-@Model.Post.Code.ToLower()</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Summary">
                                            @L("Summary") <span class="text-danger">(*)</span>
                                        </label>
                                        <textarea class="form-control" id="Summary" rows="7" value="@Model.Post.Summary" type="text" name="summary" required>@Model.Post.Summary</textarea>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="About">
                                            @L("About") <span class="text-danger">(*)</span>
                                        </label>
                                        <textarea class="form-control" id="About" rows="6" value="@Model.Post.About" type="text" name="about" required>@Model.Post.About</textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>@L("Description")</label>
                                        <textarea class="form-control frSimpleEditor" id="Description" name="description" initEditor="false">@Html.Raw(Model.Post.Description)</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>