@using Zero
@using Zero.Web.Areas.App.Models.Common.Modals
@model Zero.Web.Areas.Park.Models.Card.CreateOrEditCardViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("Create")))

<div class="modal-body">
    <div id="CardInformationsTab">
        <form name="CardInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Card.Id"/>
            }
            <input type="hidden" name="language" id="Entity_Language" value=""/>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="Card_Code">
                            @L("Code") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="Card_Code" value="@Model.Card.Code" type="text" name="code" required maxlength="@ZeroConst.MaxCodeLength" minlength="@ZeroConst.MinCodeLength"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Card_CardNumber">
                            @L("CardNumber") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="Card_CardNumber" value="@Model.Card.CardNumber" type="text" name="cardNumber" required/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group mb-0">
                        <label>@L("IsActive")</label>
                        <div class="form-control no-border">
                            <span class="switch switch-sm switch-icon">
                                <label>
                                    <input type="checkbox" value="true" id="Card_IsActive" name="isActive" @Html.Raw(!Model.Card.IsActive ? "" : "checked=\"checked\"")/>
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>@L("VehicleType")</label>
                        <select id="VehicleTypeId" style="width:100%;" name="vehicleTypeId" class="form-control">
                            @if (!string.IsNullOrEmpty(Model.Card.VehicleTypeName) && Model.Card.VehicleTypeId > 0)
                            {
                                <option value="@Model.Card.VehicleTypeId" selected="selected">@Model.Card.VehicleTypeName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>@L("CardType")</label>
                        <select id="CardTypeId" style="width:100%;" name="cardTypeId" class="form-control">
                            @if (!string.IsNullOrEmpty(Model.Card.CardTypeName) && Model.Card.CardTypeId > 0)
                            {
                                <option value="@Model.Card.CardTypeId" selected="selected">@Model.Card.CardTypeName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="Card_Balance">
                            @L("Balance")
                        </label>
                        <input class="form-control" id="Card_Balance" value="@Model.Card.Balance" type="number" name="balance"/>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="Card_LicensePlate">
                            @L("LicensePlate")
                        </label>
                        <input class="form-control" id="Card_LicensePlate" value="@Model.Card.LicensePlate" type="text" name="licensePlate"/>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="Card_Note">
                            @L("Note")
                        </label>
                        <input class="form-control" id="Card_Note" value="@Model.Card.Note" type="text" name="note"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")