@model DPS.Park.Application.Shared.Dto.Student.StudentCard.StudentCardDto
@{
    var rowId = Guid.NewGuid().ToString();
}
<tr class="detailRow" rowId="@rowId">
    <input rowId="@rowId" type="hidden" class="detailId" value="@Model.Id"/>
    <td rowId="@rowId" class="text-middle text-center detailOrder"></td>
    <td rowId="@rowId" class="text-middle w-200px">
        <select class="form-control cardSelector requiredSelect2" rowId="@rowId" initSelector="false">
            <option value="">@L("PleaseSelect")</option>
            @if (Model.CardId > 0 && !string.IsNullOrEmpty(Model.CardCode) && !string.IsNullOrEmpty(Model.CardNumber))
            {
                <option value="@Model.CardId" selected>@Model.CardCode - @Model.CardNumber</option>
            }
        </select>
    </td>
    <td rowId="@rowId" class="text-middle text-right">
        <input type="text" class="form-control detailNote" rowId="@rowId" value="@Model.Note"/>
    </td>

    <td>
        <a class="btn btn-sm btn-clean btn-icon btn-icon-md btnDeleteDetail" rowId="@rowId" href="#" title="@L("Delete")">
            <i class="la la-trash text-danger"></i>
        </a>
    </td>
</tr>