@model Zero.Web.Areas.Park.Models.Contact.CreateOrEditUserContactViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("Create")))

<div class="modal-body">
    <div id="UserContactInformationsTab">
        <form name="UserContactInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.UserContact.Id"/>
            }
            <input type="hidden" name="language" id="Entity_Language" value=""/>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="UserContact_Code">
                            @L("Code") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="UserContact_Code" value="@Model.UserContact.Code" type="text" name="code" required maxlength="@ZeroConst.MaxCodeLength" minlength="@ZeroConst.MinCodeLength"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="UserContact_Name">
                            @L("UserContactName") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="UserContact_Name" value="@Model.UserContact.Name" type="text" name="name" required maxlength="@ZeroConst.MaxNameLength" minlength="@ZeroConst.MinNameLength"/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group mb-0">
                        <label>@L("IsActive")</label>
                        <div class="form-control no-border">
                            <span class="switch switch-sm switch-icon">
                                <label>
                                    <input type="checkbox" value="true" id="UserContact_IsActive" name="isActive" @Html.Raw(!Model.UserContact.IsActive ? "" : "checked=\"checked\"")/>
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="UserContact_Email">
                            @L("Email") 
                        </label>
                        <input class="form-control" id="UserContact_Email" value="@Model.UserContact.Email" type="text" name="email"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="UserContact_Phone">
                            @L("Phone") 
                        </label>
                        <input class="form-control" id="UserContact_Phone" value="@Model.UserContact.Phone" type="text" name="phone"/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="UserContact_Title">
                            @L("Title") 
                        </label>
                        <input class="form-control" id="UserContact_Title" value="@Model.UserContact.Title" type="text" name="title"/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="UserContact_Content">
                            @L("Content") 
                        </label>
                        <input class="form-control" id="UserContact_Content" value="@Model.UserContact.Content" type="text" name="content"/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="UserContact_Note">@L("Note")</label>
                        <input class="form-control" id="UserContact_Note" type="text" name="note" value="@Model.UserContact.Note"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")