@using Zero
@using Zero.Web.Areas.App.Models.Common.Modals
@using DPS.Park.Core.Shared
@model Zero.Web.Areas.Park.Models.Order.CreateOrEditOrderViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("Create")))

<div class="modal-body">
    <div id="OrderInformationsTab">
        <form name="OrderInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Order.Id"/>
            }
            <input type="hidden" name="language" id="Entity_Language" value=""/>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="Order_Code">
                            @L("Code") <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" id="Order_Code" value="@Model.Order.Code" type="text" name="code" required/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>@L("Card")</label>
                        <select id="CardId" style="width:100%;" name="cardId" class="form-control requiredSelect2">
                            @if (!string.IsNullOrEmpty(Model.Order.CardNumber) && Model.Order.CardId > 0)
                            {
                                <option value="@Model.Order.CardId" selected="selected">@Model.Order.CardCode - @Model.Order.CardNumber</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>
                            @L("Status")
                        </label>
                        @Html.DropDownList("status", ParkHelper.ListOrderStatus(Model.Order.Status, LocalizationManager.GetSource(ZeroConst.LocalizationSourceName)), new {@class = "form-control kt-select2-non-search", @id = "OrderStatus"})
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Order_Amount">
                            @L("Amount")
                        </label>
                        <input class="form-control number" id="Order_Amount" value="@Model.Order.Amount" type="text" name="amount"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Order_VnpTransactionNo">
                            @L("VnpTransactionNo")
                        </label>
                        <input class="form-control number" id="Order_VnpTransactionNo" value="@Model.Order.Amount" type="text" name="vnpTransactionNo"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")