@using System.Globalization
@using Abp.AspNetZeroCore.Timing
@using Abp.Configuration
@using Abp.MultiTenancy
@using Abp.Web.Mvc.Alerts
@using Zero.Features
@using Zero.Web.Resources
@using Abp.Web.Security.AntiForgery
@using Zero.Configuration
@using Zero.Url
@using Zero.Web.Areas.App.Models.Layout
@using Zero.Web.Session
@using CultureHelper = Zero.Localization.CultureHelper
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebUrlService WebUrlService
@inject IPerRequestSessionCache SessionCache
@inject IAlertManager AlertManager
@{
    AbpAntiForgeryManager.SetCookie(Context);
    var isChatEnabled = AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature);
    var headerViewModel = new HeaderViewModel();
    var loginInfo = await SessionCache.GetCurrentLoginInformationsAsync();
    var theme = await GetTheme();
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head prefix="og: http://ogp.me/ns#">
    <title>@(string.IsNullOrEmpty(loginInfo?.Tenant?.WebTitle) ? GlobalConfig.AppName : loginInfo?.Tenant?.WebTitle)</title>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="@(string.IsNullOrEmpty(loginInfo?.Tenant?.WebDescription) ? GlobalConfig.AppName : loginInfo?.Tenant?.WebDescription)" name="description"/>
    <meta content="@(string.IsNullOrEmpty(loginInfo?.Tenant?.WebAuthor) ? GlobalConfig.AppName : loginInfo?.Tenant?.WebAuthor)" name="author"/>

    <meta property="og:title" content="@(string.IsNullOrEmpty(loginInfo?.Tenant?.WebTitle) ? GlobalConfig.AppName : loginInfo?.Tenant?.WebTitle)"/>
    <meta property="og:description" content="@(string.IsNullOrEmpty(loginInfo?.Tenant?.WebDescription) ? GlobalConfig.AppName : loginInfo?.Tenant?.WebDescription)"/>
    <meta property="og:url" content="@($" {Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">
    <meta property="og:image" content="@headerViewModel.GetLogoUrl(ApplicationPath, theme.BaseSettings.Menu.AsideSkin)"/>

    <link rel="shortcut icon" href="~/@(string.IsNullOrEmpty(loginInfo?.Tenant?.WebFavicon) ? GlobalConfig.AppFaviconName : loginInfo?.Tenant?.WebFavicon)"/>

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/Common/Scripts/Datatables/datatables@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/Common/Styles/metronic-customize.css" asp-append-version="true"/>

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" asp-append-version="true"/>
    }

    @if (isChatEnabled)
    {
        <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Layout/_ChatBar.css" asp-append-version="true"/>
    }

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/Layout/_Layout.css" asp-append-version="true"/>

    <link rel="stylesheet" href="../../3rds/telerik/kendo.bootstrap.mobile.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../3rds/telerik/kendo.bootstrap-v4.min.css" type="text/css"/>

    <link rel="stylesheet" href="../../3rds/froala/css/froala_editor.pkgd.css" type="text/css"/>
    <link rel="stylesheet" href="../../3rds/froala/css/plugins.pkgd.css" type="text/css"/>

    @await RenderSectionAsync("Styles", false)

    <link href="~/css/bootstrap.extend.css" rel="stylesheet"/>
    <link href="~/css/kendo.extend.css" rel="stylesheet"/>
    <link href="~/css/froala.extend.css" rel="stylesheet"/>

    @if (loginInfo?.Tenant?.CustomCssId != null)
    {
        <!-- id parameter is used to prevent caching -->
        <link id="TenantCustomCss" rel="stylesheet" href="@Url.Action("GetCustomCss", "TenantCustomization", new {area = string.Empty, tenantId = loginInfo?.Tenant?.Id})" asp-append-version="true"/>
    }

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<!-- END HEAD -->
<!-- begin::Body -->
<body class="header-@(theme.BaseSettings.Header.DesktopFixedHeader ? "fixed" : "static")
      @(theme.BaseSettings.Header.MobileFixedHeader ? "header-mobile-fixed " : "")
      @((theme.BaseSettings.Menu.FixedAside && !theme.IsTopMenuUsed) ? "aside-fixed" : "")
      @(theme.BaseSettings.Menu.DefaultMinimizedAside ? "aside-minimize" : "")
      @(theme.BaseSettings.Menu.HoverableAside ? "aside-minimize-hoverable" : "")
      quick-panel-@(CultureHelper.IsRtl ? "left" : "right") demo-panel-@(CultureHelper.IsRtl ? "left" : "right")
      @(theme.IsLeftMenuUsed ? "aside-left-enabled aside-enabled" : "")
      subheader-enabled @((theme.BaseSettings.Header.DesktopFixedHeader || theme.BaseSettings.Header.MobileFixedHeader) && theme.BaseSettings.SubHeader.FixedSubHeader ? "subheader-fixed" : "")
      aside-left-offcanvas @(!theme.IsLeftMenuUsed ? "subheader-transparent" : "") @(theme.IsLeftMenuUsed ? "subheader-" + theme.BaseSettings.SubHeader.SubheaderStyle : "")
      @(theme.IsLeftMenuUsed ? "aside-" + (theme.BaseSettings.Menu.FixedAside ? "fixed" : "static") : "")
      @(theme.IsTopMenuUsed ? "header-minimize-" + (theme.BaseSettings.Header.MinimizeDesktopHeaderType) : "")
      @(theme.BaseSettings.Menu.EnableSecondary ? "aside-secondary-enabled" : "")
      @(theme.BaseSettings.Footer.FixedFooter && theme.BaseSettings.Layout.LayoutType != "fixed" ? "footer-fixed" : "")">
<!-- begin:: Page -->
@RenderBody()
<!-- end:: Page -->
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->
<!-- begin::Chat Bar -->
@if (isChatEnabled)
{
    @await Html.PartialAsync("~/Areas/App/Views/Layout/_ChatBar.cshtml")
}
<!-- end::Chat Bar -->
<!-- begin::Theme Selection Panel -->
@if (await SettingManager.GetSettingValueAsync<bool>
    (AppSettings.UserManagement.IsQuickThemeSelectEnabled))
{
    @await Html.PartialAsync("~/Areas/App/Views/Layout/_ThemeSelectionPanel.cshtml")
}
<!-- end::Theme Selection Panel -->
<!--begin::Base Scripts -->
<script abp-src="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.js" asp-append-version="true"></script>
<script abp-src="/view-resources/Areas/App/Views/_Bundles/@theme.BaseSettings.Theme.ToLowerInvariant()-scripts.bundle.js" asp-append-version="true"></script>

<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
<script src="/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
<script src="/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

<script type="text/javascript">
    abp.localization.currentCulture = $.extend({}, abp.localization.currentCulture, { displayNameEnglish: '@CultureInfo.CurrentUICulture.EnglishName' });
    moment.locale('@(GetMomentLocale())'); //Localizing moment.js
    abp.multiTenancy.tenantIdCookieName = 'abp.tenantid';
</script>

<script src="/view-resources/Areas/App/Views/_Bundles/signalr.bundle.min.js" asp-append-version="true"></script>

<script abp-src="/view-resources/Areas/App/Views/_Bundles/common-scripts.js" asp-append-version="true"></script>
<script abp-src="/view-resources/Areas/App/Views/_Bundles/app-common-scripts.js" asp-append-version="true"></script>
<script abp-src="/view-resources/Areas/App/Views/Layout/_Header.js" asp-append-version="true"></script>
<script abp-src="/view-resources/Areas/App/Views/Layout/_Layout.js" asp-append-version="true"></script>
@if (await SettingManager.GetSettingValueAsync<bool>
    (AppSettings.UserManagement.IsQuickThemeSelectEnabled))
{
    <script src="/view-resources/Areas/App/Views/Layout/_ThemeSelectionPanel.js" asp-append-version="true"></script>
}

@if (isChatEnabled)
{
    <script src="/view-resources/Areas/App/Views/Layout/_ChatBar.js" asp-append-version="true"></script>
    <script src="/Common/Scripts/Chat/chat.signalr.js" asp-append-version="true"></script>
}
@if (await SettingManager.GetSettingValueAsync<bool>(AppSettings.UserManagement.SessionTimeOut.IsEnabled) && AbpSession.UserId.HasValue)
{
    <script src="/view-resources/Areas/App/Views/_Bundles/InactivityController.min.js" asp-append-version="true"></script>
}
<script src="~@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>
<script src="~@ScriptPaths.Bootstrap_Select_Localization" asp-append-version="true"></script>
<script src="~@ScriptPaths.JQuery_Timeago_Localization" asp-append-version="true"></script>
<script src="~@ScriptPaths.Select2_Localization" asp-append-version="true"></script>

@if (theme.BaseSettings.Menu.SearchActive)
{
    <script src="~/view-resources/Areas/App/Views/Layout/_MenuSearchBar.min.js" asp-append-version="true"></script>
}

<script type="text/javascript" src="../../3rds/telerik/kendo.all.min.js"></script>
<script type="text/javascript" src="../../3rds/telerik/jszip.min.js"></script>
<script type="text/javascript" src="../../3rds/telerik/cultures/kendo.culture.@(GetMomentLocale()).min.js"></script>
<script type="text/javascript" src="../../3rds/telerik/messages/kendo.messages.@(GetMomentLocale()).min.js"></script>
<script type="text/javascript" src="../../3rds/froala/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="../../3rds/froala/js/plugins.pkgd.min.js"></script>
<script type="text/javascript" src="../../3rds/froala/js/languages/en_gb.js"></script>
<script type="text/javascript" src="../../3rds/froala/js/languages/vi.js"></script>

<script id="file-manager-preview-template" type="text/kendo-ui-template">
    <div class="#:styles.fileInfo#">
        <div class="#:styles.filePreview#">
        	#if(kendo.getFileGroup(selection[0].extension, true) == "file-image"){#
        	    <img src="#:selection[0].actualPath#" style="max-width: 100%"/>
            #} else {#
            	<span class='k-file-icon k-icon k-i-#: !selection[0].isDirectory ? kendo.getFileGroup(selection[0].extension, true) : "folder" #'></span>
            #}#
        </div>
        <span class="#:styles.fileName#">#:selection[0].name#</span>
        #if(metaFields){#
        <dl class="#:styles.fileMeta#">
            #for(var i = 0; i < metaFields.length; i+=1){#
            #var field = metaFields[i]#
            #if (field != "created" && field != "createdUtc") {#
            <dt class="#:styles.metaLabel#">#:messages[field]#: </dt>
            <dd class="#:styles.metaValue# #:styles[field]#">
                #if(field == "extension") {#
                    #:kendo.getFileGroup(selection[0].extension)#
                #} else if(field == "size" && selection[0]['isDirectory'] === false){#
                    #:kendo.getFileSizeMessage(selection[0][field])#
                #} else if(field == "modified" && selection[0][field].getYear() > 1) {#
                    #:kendo.toString(selection[0][field], "G")#
                #}#
            </dd>
            <dd class="k-line-break"></dd>
            #}#
            # } #
        </dl>
        #}#
    </div>
</script>

<script id="file-manager-list-view-template" type="text/kendo-x-tmpl">
     <div class="k-listview-item" title="#: isDirectory ? name : name+extension #" data-uid="#uid#" role="option">
        <div class="k-file-preview h-50px">
            #if(kendo.getFileGroup(extension, true) == "file-image" && size < 1000000){#
                <img src="#:actualPath#" style="max-width: 100%"/> 
            #} else {#
                <span class='k-file-icon k-icon k-i-#: !isDirectory ? kendo.getFileGroup(extension, true) : "folder" #'></span>
            #}#
        </div>
        <div class="k-file-name file-name mt-0">#: isDirectory ? name : name+extension #</div>
    </div>
</script>

<script abp-src="/js/InitAfter.js" asp-append-version="true"></script>

<!--end::Base Scripts -->
<!--begin::Page Snippets -->
@await RenderSectionAsync("Scripts", false)
<script>
    app.supportsTenancyNameInUrl = @(WebUrlService.SupportsTenancyNameInUrl.ToString().ToLower());
    kendo.culture('@(GetMomentLocale())');
</script>
<!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>