@model Zero.Web.Areas.Cms.Models.Menu.MenuViewModel

@{
    ViewBag.CurrentPageName = AppPageNames.Cms.Menu;
}

@section Scripts
{
    <script abp-src="/3rds/jquery.nestable/jquery.nestable.js" asp-append-version="true"></script>
    <script abp-src="/3rds/jquery.sortable/jquery.sortable.js" asp-append-version="true"></script>
    <script abp-src="@ZeroConst.ScriptPathCms/Menu/Index.js" asp-append-version="true"></script>
}

@section Styles {
    <link href="/3rds/jquery.nestable/jquery.nestable.css" rel="stylesheet"/>
    <link href="/3rds/jquery.nestable/jquery.nestable-custom.css" rel="stylesheet"/>
    <link href="/3rds/jquery.sortable/jquery.sortable.css" rel="stylesheet"/>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Menus")" description="@L("MenusHeaderInfo")">
    </abp-page-subheader>
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body" id="MenuWrapper">
                <div class="form">
                    <div id="MenusFormFilter">
                        <div class="row">
                            <div class="col-10">
                                <label>@L("MenuGroup")</label>
                                <div class="form-group">
                                    <select id="MenuGroupSelector" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <label style="color: transparent">@L("Search")</label>
                                
                                <div class="form-group">
                                    <button type="button" id="RefreshButton" class="btn btn-icon btn-primary w-p100">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="dd">
                        <ol class="dd-list" id="dd-list">
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card-footer py-15 text-right" id="MenuFunctionsWrapper" style="display:none">
                @if (IsGranted(CmsPermissions.Menu_Create))
                {
                    <button id="CreateNewButton" class="btn btn-primary blue">
                        <i class="fa fa-plus"></i> @L("Create")
                    </button>
                }
                @if (IsGranted(CmsPermissions.Menu_Create) || IsGranted(CmsPermissions.Menu_Edit))
                {
                    <button type="button" id="UpdateStructureButton" class="btn btn-primary ml-2">
                        <i class="la la-save"></i> @L("UpdateStructure")
                    </button>    
                }
            </div>
        </div>
    </div>
</div>