@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Zero
@using Abp.Authorization.Users
@model Zero.Web.Models.FrontPages.UserProfile.UserProfileViewModel

@if (Model is {User: { } })
{
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true">
                                            <i class="fi-rs-user mr-10"></i>@L("FP_AccountInfo")
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">
                                            <i class="fi-rs-shopping-bag mr-10"></i>@L("FP_Order")
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="cards-tab" data-bs-toggle="tab" href="#cards" role="tab" aria-controls="cards" aria-selected="false">
                                            <i class="fa fa-id-card-o mr-10"></i>@L("FP_Card")
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Logout", "Account")"><i class="fi-rs-sign-out mr-10"></i>Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <div class="tab-pane fade active show" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>@L("FP_AccountInfo")</h5>
                                        </div>
                                        <div class="card-body">
                                            <form class="contact-form-style" id="accInfoForm" action="#" method="post">
                                                <div class="row">
                                                    <div class="form-group col-6">
                                                        <label>
                                                            @L("Name")<span class="required">*</span>
                                                        </label>
                                                        <input required id="User_Name" value="@Model.User.Name" class="form-control" name="name" type="text" max-lenght="@AbpUserBase.MaxNameLength">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label>
                                                            @L("Surname")<span class="required">*</span>
                                                        </label>
                                                        <input required id="User_SurName" value="@Model.User.Surname" class="form-control" name="surName" type="text" max-lenght="@AbpUserBase.MaxSurnameLength">
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label>
                                                            @L("Email")<span class="required">*</span>
                                                        </label>
                                                        <input required id="User_Email" class="form-control" value="@Model.User.EmailAddress" name="email" type="email" readonly>
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="button" class="btn btn-primary" id="btnUpdAccountInfo">@L("FP_UpdateUserInfo")</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <form class="contact-form-style" id="updPasswordForm" action="#" method="post">
                                                <div class="row">
                                                    <div class="col-12 py-30">
                                                        <h5>@L("FP_AccountSecurity")</h5>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label>
                                                            @L("FP_OldPassword")<span class="required">*</span>
                                                        </label>
                                                        <input required id="User_Password" class="form-control" value="" name="currentPassword" type="password" autocomplete="false">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label>
                                                            @L("FP_NewPassword")<span class="required">*</span>
                                                        </label>
                                                        <input required id="User_NewPassword" class="form-control" name="newPassword" value="" type="password" autocomplete="false">
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-primary" id="btnUpdPassword">@L("FP_UpdatePassword")</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">@L("FP_YourOrder")</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table" id="MyOrdersTable">
                                                    <thead>
                                                    <tr>
                                                        <th>@L("FP_OrderCode")</th>
                                                        <th>@L("FP_OrderCardNumber")</th>
                                                        <th>@L("FP_OrderAmount")</th>
                                                        <th>@L("FP_OrderCreationTime")</th>
                                                        <th>@L("FP_OrderStatus")</th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="cards" role="tabpanel" aria-labelledby="cards-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">@L("FP_YourCard")</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table" id="MyCardsTable">
                                                    <thead>
                                                    <tr>
                                                        <th>@L("CardNumber")</th>
                                                        <th>@L("LicensePlate")</th>
                                                        <th>@L("VehicleType")</th>
                                                        <th>@L("CardType")</th>
                                                        <th>@L("Balance")</th>
                                                        <th>@L("IsActive")</th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}