@using Zero.Web.Areas.App.Startup
@model Zero.Web.Areas.Reporting.Models.ViewReportModel

@{
    ViewBag.CurrentPageName = AppPageNames.Reporting.StudentRenewCardReports;
}

@section Scripts
{
    <script abp-src="/api/reports/resources/js/telerikReportViewer" asp-append-version="true"></script>
    <script abp-src="/js/InitReportHelper.js" asp-append-version="true"></script>
    <script abp-src="@ZeroConst.ScriptPathReporting/Student/StudentRenewCardReport.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("StudentRenewCardReport")"></abp-page-subheader>
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <input type="hidden" id="ReportName" value="@Model.ReportName"/>
                <input type="hidden" id="LeftHeader" value="@Model.ReportLeftHeader"/>
                <input type="hidden" id="RightHeader" value="@Model.ReportRightHeader"/>
                <input type="hidden" id="ServiceName" value="@Model.ServiceName"/>
                <input type="hidden" id="EndPoint" value="@Model.EndPoint"/>

                <div class="row">
                    <div class="form-group col-3">
                        <label>
                            @L("StartDate")
                        </label>
                        <div class="form-control no-border p-0">
                            <div class="input-group">
                                <input type="text" id="StartDateSelector" class="form-control text-center dateTime date-picker" name="StartDateSelector" init-value="@Model.StartDate.ToString("dd/MM/yyyy")">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label>
                            @L("EndDate")
                        </label>
                        <div class="form-control no-border p-0">
                            <div class="input-group">
                                <input type="text" id="EndDateSelector" class="form-control text-center dateTime date-picker" name="EndDateSelector" init-value="@Model.EndDate.ToString("dd/MM/yyyy")">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>@L("CardNumberSearch")</label>
                            <div class="input-group">
                                <input id="Filter" class="form-control" type="text" value="@ViewBag.FilterText" placeholder="@L("SearchWithThreeDot")" aria-describedby="basic-addon2">
                                <span class="input-group-btn">
                                    <button type="button" id="RefreshReport" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>
                            @L("CardType")
                        </label>
                        <select id="CardTypeSelector" class="form-control"></select>
                    </div>
                    <div class="form-group col-6">
                        <label>
                            @L("VehicleType")
                        </label>
                        <select id="VehicleTypeSelector" class="form-control"></select>
                    </div>
                </div>

                <div id="reportViewerContent" style="height:700px">
                    loading...
                </div>
            </div>
        </div>
    </div>
</div>