@model Zero.Web.Areas.Cms.Models.Post.PostViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Cms.Post;
}

@section Scripts
{
    <script abp-src="@ZeroConst.ScriptPathCms/Post/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Post")" description="@L("PostHeaderInfo")">
        @if (IsGranted(CmsPermissions.Post_Create))
        {
            <button id="CreateNewButton" class="btn btn-primary blue">
                <i class="fa fa-plus"></i> @L("Create")
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div id="PostFormFilter">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>@L("Category")</label>
                                    <select id="CategoryIdSelector" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label>@L("Search")</label>
                                    <div class="input-group">
                                        <input id="PostTableFilter" class="form-control" type="text" value="@ViewBag.FilterText" placeholder="@L("SearchWithThreeDot")" aria-describedby="basic-addon2">
                                        <span class="input-group-btn">
                                            <button type="button" name="RefreshButton" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="PostTable" class="display table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">@L("Actions")</th>
                            <th class="text-center">@L("Name")</th>
                            <th class="text-center">@L("Category")</th>
                            <th class="text-center">@L("Tags")</th>
                            <th class="text-center">@L("Response")</th>
                            <th class="text-center">@L("Views")</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>